body {
    font-family: "imperial script" ;
    font-size: 20pt;
    background-color: #110071;
    color:#00d9ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ballet" ;
    font-size: 36pt;
}

header{
    text-align: center;
}

#hero, footer{
    background-color:#8200c3 ;
    color: #00d9ff;
    text-align: center;
}

#hero img{
    width: 400px;
}

#bio{
    text-align: center;
}

#hobbies ul li:nth-child(even){
    color:red;
}